.container {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
}

.contentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  div {
    display: grid;
    gap: 1rem;

    ul {
      display: grid;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      a:hover {
        color: var(--gray-600);
      }
    }
  }
}
