.contentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentSection {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  table {
    thead {
      tr {
        th {
          width: 16.6%;
        }
      }
    }
  }
}

.itemContainer {
  max-width: 100%;
  max-height: 100%;
}

.dataHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .ranking {
    width: 15%;
    height: 100%;
  }

  .ticker {
    width: 20%;
    height: 100%;
  }

  .name {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .price {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
  }
}

/* @media (max-width: 720px) {
  .contentSection {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .dataHeader {
    font-size: 65%;
    height: 45px;
    width: 100%;

    .name {
      width: 35%;
    }

    .price {
      width: 35%;
    }
  }
}
 */
